aiohttp==3.9.3
aiosignal==1.3.1
anyio==3.7.0
asgiref==3.5.2
asttokens==2.4.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==22.1.0
Automat==22.10.0
beautifulsoup4==4.12.3
black==23.12.0
bs4==0.0.2
cachetools==5.3.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comm==0.2.1
constantly==23.10.4
contourpy==1.1.1
coverage==7.3.2
cryptography==42.0.1
cssselect==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==2.0.0
Django==4.1.12
django-admin-relation-links==0.2.5
django-allauth==0.52.0
django-environ==0.10.0
django-extensions==3.2.1
django-heroku==0.3.1
django-multiforloop==0.3.1
django-postgres-dropdb==2020.12.3
django-theme-pixel==1.0.3
djangorestframework==3.14.0
docker==6.0.1
environ==1.0
environs==10.3.0
envparse==0.2.0
execnet==2.0.2
executing==2.0.1
fastapi==0.95.2
filelock==3.9.0
flake8==5.0.4
flake8-annotations==2.9.1
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
fonttools==4.43.1
frozenlist==1.4.1
glcontext==2.5.0
glfw==2.6.2
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
gunicorn==21.2.0
h11==0.14.0
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.28.0
ipython==8.19.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.19.1
jmespath==1.0.1
jsonschema==4.16.0
jupyter_client==8.6.0
jupyter_core==5.7.0
kiwisolver==1.4.5
loguru==0.7.2
lxml==5.1.0
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
moderngl==5.7.4
multidict==6.0.5
multipledispatch==1.0.0
mypy-extensions==1.0.0
nest-asyncio==1.5.8
numpy==1.23.4
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==23.0
parsel==1.8.1
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
pep8-naming==0.13.2
Pillow==9.4.0
platformdirs==2.6.2
pluggy==1.3.0
prompt-toolkit==3.0.43
Protego==0.3.0
protobuf==4.23.4
psutil==5.9.7
psycopg2==2.9.5
pure-eval==0.2.2
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.8
PyDispatcher==2.0.7
pyflakes==2.5.0
pygame==2.5.2
PyGLM==2.7.1
Pygments==2.17.2
PyJWT==2.6.0
PyOpenGL @ file:///C:/Users/%D0%96%D0%B5%D0%BD%D1%8F/Downloads/PyOpenGL-3.1.6-cp311-cp311-win_amd64.whl#sha256=5773dc0b29a7f54939b18bb3f7e9060c149693ea94f1ae832837a57ffc55adfe
PyOpenGL-accelerate @ file:///C:/Users/%D0%96%D0%B5%D0%BD%D1%8F/Downloads/PyOpenGL_accelerate-3.1.6-cp311-cp311-win_amd64.whl#sha256=56e36648ce3cb37341c5a74b3bb3aca831ce752c265819b9cb9263ee16cff0a2
pyOpenSSL==24.0.0
pyparsing==3.1.0
pypiwin32==223
pyrr==0.10.3
pyrsistent==0.18.1
PySDL2==0.9.16
PySocks==1.7.1
pytest==7.1.3
pytest-django==4.5.2
pytest-forked==1.6.0
pytest-mock==3.11.1
pytest-xdist==2.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-openid==2.2.5
python-scrapyd-api==2.1.2
python-social-auth==0.2.21
python3-openid==3.2.0
pytz==2022.2.1
PyWavefront==1.3.3
pywin32==306
pyzmq==25.1.2
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
Scrapy==2.11.0
scrapyd==1.4.3
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@10fdf9bb17d0d50b895404f9a5a5d59521d43f66
selenium==4.16.0
service-identity==24.1.0
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.2
stack-data==0.6.3
starlette==0.27.0
tldextract==5.1.1
tomli==2.0.1
tornado==6.4
traitlets==5.14.1
trio==0.23.2
trio-websocket==0.11.1
Twisted==22.10.0
typing_extensions==4.5.0
tzdata==2022.2
uberegg==0.1.1
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.22.0
virtualenv==20.17.1
w3lib==2.1.2
wcwidth==0.2.12
websocket-client==1.5.1
whitenoise==6.5.0
win32-setctime==1.1.0
wsproto==1.2.0
yarl==1.9.4
zope.interface==6.1
